# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
requests
pyarrow
boto3
dotenv
apache-airflow-providers-snowflake
dbt-snowflake